<div>
    <h3>
        Achievements
    </h3>
    <p>
        There are quite a few feats that I have accomplished
        in my adult life. Including, but not limited to: two 
        scholarships, becoming a sub-team lead on the Virginia 
        Tech Robotics Programming team, graduating high school
        from Frankfurt Internation School and receiving not
        only a high school diploma, but also a International
        Baccalaureate certificate. Also becoming an intern at
        Atos Information Technology company, and maintaining a
        3.4 GPA at Virginia Tech. Being accepted to go abroad
        and study at the Technische Universität of Darmstadt
        for a year.
    </p>
</div>
