<div style="height: 25px;"> </div>
<div class="content">
    <div class="info">
        <h3>
            About me
        </h3>
        <p>
            Hello! My name is Barak Finnegan, and I am currently a Virginia Polytechnic Institute
            and State University student that is doing an internship abroad at Atos. My applied
            experience in computer science mostly consist of my time on the VT Robotics team, my
            studying, and the internship I am currently working at. I have received multiple scholarships
            for my studying and have preformed well at the universities that I have attended.
        </p>
        <p>
            At my current internship at Atos (European Multinational Information Technology company)
            I work as a software developer. I develop tools for my team in python, however I am proficient
            with quite a few programming languages and technical software, which is outlined in my resumé.
        </p>
        <p></p>
        <p>
            Thanks for taking the time to read about me! Check out my Projects and my resumé above, or links
            to my different social media outlets below.
        </p>
    </div>
    <div style="padding: 20px;">
        <img src="../../../assets/profile.jpg" width=450px height=450px style="image-rendering:optimizeSpeed;">
    </div>
</div>

